@using LeagueOfLegends.Models.Components
@model CanvasRect

<div class="canvas-rect-wrapper position-absolute" 
     style="top: @(Model.position.top)px; right: @(Model.position.right)px; bottom: @(Model.position.bottom)px; left: @(Model.position.left)px;">
  <canvas class="canvas-rect"
          data-top-right="@(Model.border.topRight)"
          data-top-left="@(Model.border.topLeft)"
          data-bottom-right="@(Model.border.bottomRight)"
          data-bottom-left="@(Model.border.bottomLeft)"
          data-size="@Model.size"
          data-current-size="@Model.size"
          data-resizable="@Model.resizable"
          data-width="@Model.width"
          data-animate-id="@Model.animateId"
          data-hover-extends="@Model.hoverExtends"
          data-color="@Model.color"
          data-avoid-id="@Model.avoidId"
          data-async-id="@Model.asyncId"
          data-fill="@Model.fill">
  </canvas>
</div>
