<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of Legends | @ViewBag.Title</title>
  <link href="@Url.Content("~/images/favicon/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
  <link href="@Url.Content("~/Content/Views/Home/.css")" rel="stylesheet" />
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Styles.Render("~/Content/shared")
  @if (IsSectionDefined("AddToHeader"))
  {
    @RenderSection("AddToHeader", required: false);
  }
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    @Html.Partial("_NavBar")
  </div>

  @RenderBody()

  <div class="footer">
    @Html.Partial("_Footer")
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @if (IsSectionDefined("Scripts"))
  {
    @RenderSection("Scripts", required: false);
  }
</body>
</html>
