<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League of Legends | @ViewBag.Title</title>
  <script src="https://kit.fontawesome.com/9ed593a796.js" crossorigin="anonymous"></script>
  <link href="@Url.Content("~/images/favicon/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  @Styles.Render("~/Content/shared")
  @if (IsSectionDefined("AddToHeader"))
  {
    @RenderSection("AddToHeader", required: false);
  }
</head>
<body>
  <nav class="navbar navbar-expand-xl navbar-fixed-top">
    @Html.Partial("_NavBar")
  </nav>

  @RenderBody()

  <div class="footer">
    @Html.Partial("_Footer")
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
<script src="@Url.Content("~/Scripts/Site/Shared/NavBar.js")"></script>
  @if (IsSectionDefined("Scripts"))
  {
    @RenderSection("Scripts", required: false);
  }
</body>
</html>
